form {
  background-color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

form .form-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
}

form button {
  color: #fff;
  font-size: 2rem;
  background-color: #ad1457;
  padding: 0 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

form button:hover {
  background-color: #d6196b;
}
